body {
    background-image: url("https://images.unsplash.com/photo-1518688248740-7c31f1a945c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2e2f32;
}

#container {
    background-color: rgb(184, 223, 152);
    width: 30%;
    margin-top: 100px;
    padding: 20px;
    border: 3px solid #0a6c1f;
}

h3 {
    font-family: "Libre Baskerville", serif;
    font-size: 20px;
}

#guess {
    padding: 10px;
    width: 40%;
    font-family: "Libre Baskerville", serif;
    font-size: 15px;
    border: none;
}

#btn {
    background-color: #40b412;
    font-size: 15px;
    font-family: "Libre Baskerville", serif;
    color: #151313;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    border: none;
}

@media all and (max-width: 800px) {
    #guess {
        width: 80px;
        padding: 5px;
        font-size: 10px;
    }
}

@media all and (max-width: 500px) {
    #guess {
        width: 150px;
        padding: 5px;
        font-size: 10px;
    }
}